.page {
  margin-top: 10rem;
}

.titleCard {
  width: 80%;
  margin: 0 auto 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: justify;
}

.interviewSection {
  padding: 4rem;
  color: var(--secondary);
  background-color: var(--secondary-background);
  text-align: justify;
}

.interviewTop {
  margin-bottom: 2rem;
}

.interviewTitle {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.interview {
  margin: auto;
  text-align: justify;
  max-width: 1500px;
}

.interview .text {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p {
  margin-bottom: 1rem;
}

.message {
  grid-column: 1;
}

.interviewImage {
  display: block;
  grid-column: 2;
  max-width: 30rem;
  width: 100%;
  height: auto;
  margin: auto;
}

.thanks {
  grid-column: 3;
}

.leadershipSection {
  margin: 4rem auto 0 auto;
  width: 90%;
  max-width: 1500px;
}

.leadershipTitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.internship {
  margin: 4rem 0;
}

.reports {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .page {
    margin-top: 4rem;
  }

  .titleCard {
    padding: 2rem 1rem;
  }

  .titleCard > h1 {
    font-size: 2rem;
  }

  .interviewSection {
    padding: 2rem 1rem;
  }

  .interviewSection > :nth-child(2) {
    padding: 1rem 0.5rem;
  }

  .interview .text {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .interviewImage {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1200px) {
  .titleCard {
    width: 50%;
  }

  .interview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .interview .text {
    height: 100%;
  }
}
