/* Fonts are handled by NextJs */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(255, 255, 255);
  --primary-background: rgb(25, 25, 45);
  --secondary: rgb(106, 145, 189);
  --secondary-background: rgb(255, 255, 255);
  --card-width: 40rem;
}

html {
  color: var(--primary);
  background-color: var(--primary-background);
  font-weight: 500;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-underline-offset: 3px;
}

button {
  color: var(--secondary);
  background-color: var(--secondary-background);
  border: solid 1px var(--secondary-background);
  font-size: 1.25rem;
  font-weight: 300;
  font-family: inherit;
  transition: all 0.1s;
}

button:hover {
  color: var(--primary);
  background-color: var(--primary-background);
  border: solid 1px var(--primary);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
