/* Fonts are handled by NextJs */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(255, 255, 255);
  --primary-background: rgb(25, 25, 45);
  --secondary: rgb(106, 145, 189);
  --secondary-background: rgb(255, 255, 255);
}

html {
  color: var(--primary);
  background-color: var(--primary-background);
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
