.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  margin-top: 9rem;
}

.presentation .right {
  display: flex;
  flex-direction: column;
}

.profilePicture {
  margin: auto;
  width: 18rem;
  height: auto;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.right p {
  padding: 0.1rem;
}

.icon {
  width: 1rem;
  margin-right: 1rem;
}
