/* Card */
.card {
  color: var(--secondary);
  background-color: var(--secondary-background);
  border-radius: 20px;
  padding: 2rem;
}

.dark {
  color: var(--primary);
  background-color: var(--primary-background);
}

/* Download */
.download > a {
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.downloadDark {
  color: var(--primary);
  background-color: var(--primary-background);
  border-color: var(--primary-background);
}

.downloadDark:hover {
  color: var(--secondary);
  background-color: var(--secondary-background);
  border-color: var(--primary-background);
}

/* video */
.video {
  max-width: 90%;
  display: block;
  margin: auto;
}

/* Tags */
.tag {
  color: white;
  background-color: rgb(192, 192, 192);
  border: solid 1px var(--primary-background);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.125rem;
  display: inline-block;
  transition: all 0.1s;
  font-weight: 700;
  cursor: pointer;
}

.tag.orange {
  background-color: rgb(255, 149, 79);
}

.tag.red {
  background-color: rgb(255, 79, 79);
}

.tag.yellow {
  background-color: rgb(255, 229, 79);
}

.tag.blue {
  background-color: rgb(79, 111, 255);
}

.tag.cyan {
  background-color: rgb(79, 255, 255);
}

.tag.black {
  background-color: rgb(41, 41, 41);
}

.tag.darkBlue {
  background-color: rgb(0, 21, 116);
}

.tag.orange:hover {
  color: rgb(255, 149, 79);
}

.tag.red:hover {
  color: rgb(255, 79, 79);
}

.tag.yellow:hover {
  color: rgb(255, 229, 79);
}

.tag.blue:hover {
  color: rgb(79, 111, 255);
}

.tag.cyan:hover {
  color: rgb(79, 255, 255);
}

.tag.black:hover {
  color: rgb(255, 255, 255);
}

.tag.darkBlue:hover {
  color: rgb(0, 21, 116);
}

.tag:hover {
  background-color: rgba(10, 10, 40, 0.9);
}

/* Arrow animation */
.arrowCircle {
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 2rem;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Error page */
.errorPage {
  margin-top: 10%;
  margin-left: 20%;
}

.errorNumber {
  font-size: 12rem;
}

.errorMessage {
  font-size: 2rem;
}

.goTo {
  margin-top: 2rem;
}

.goTo > a {
  display: block;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .errorPage {
    width: 80%;
    margin: 20% auto 0 auto;
  }

  .errorNumber {
    font-size: 8rem;
  }

  .errorMessage {
    font-size: 1rem;
  }

  .goTo {
    margin-top: 0.625rem;
    font-size: 0.75rem;
  }
}

/* Course card */
.imageCard {
  padding: 0;
  overflow: hidden;
  box-shadow: -5px 10px 10px 0 black;
  transition: transform 0.2s, filter 0.2s, box-shadow 0.1s;
  filter: opacity(50%);
  border: 1px solid white;
  width: 270px;
}

.imageCard:hover {
  transform: scale(1.1);
  filter: opacity(100%);
  box-shadow: 0 0 0 0 black;
}

.imageTop {
  background-color: var(--secondary-background);
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.cardImage {
  display: block;
  margin: auto;
  transform: scale(0.8);
  transition: transform 0.2s;
  width: 100%;
  height: auto;
}

.imageCard:hover .cardImage {
  transform: scale(1);
}

.cardTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.cardDescription {
  padding: 1rem;
}

/* Pages common */
.page {
  margin-top: 6rem;
  text-align: justify;
}

.sectionTop {
  margin: 0 6%;
  margin-bottom: 2rem;
}

.sectionTitle {
  text-align: left;
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .page {
    margin-top: 3.125rem;
  }
  .sectionTitle {
    font-size: 2rem;
  }
}

.cardList {
  margin-bottom: 4rem;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.cardList > * {
  width: 300px;
}
